<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>macloader_icon.icns</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>macloader_icon.icns</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>at.spot.MacLoader</string>
	<key>CFBundleName</key>
	<string>MacLoader</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
